<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.verma.casalarestaurant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mainlogo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_secuirity_config"
        android:roundIcon="@drawable/mainlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".header.DrawerHeader"></activity>
        <activity android:name=".activity.ResetPasswordActivity" />
        <activity android:name=".activity.OrderPlacedActivity" />
        <activity android:name=".activity.CartActivity" />
        <activity android:name=".activity.RestaurantDetailActivity" />
        <activity android:name=".activity.ForgotPasswordActivity" />
        <activity android:name=".activity.RegistrationActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HomeActivity" />
    </application>

</manifest>